<h3>Pedido realizado por {{ username }} para el cliente {{ client }} desde  la versión Ḿóvil de www.monin.com.mx'</h3>
table class="tg" style="border-collapse: collapse;border-spacing: 0;border-color: #aabcfe;">
  <tr>
    <th class="tg-k3mp" style="font-family: Arial, sans-serif;font-size: 14px;font-weight: bold;padding: 10px 5px;border-style: solid;border-width: 1px;overflow: hidden;word-break: normal;border-color: #aabcfe;color: #000000;background-color: #b9c9fe;text-align: center;">Modelo</th>
    <th class="tg-hvxd" style="font-family: Arial, sans-serif;font-size: 14px;font-weight: bold;padding: 10px 5px;border-style: solid;border-width: 1px;overflow: hidden;word-break: normal;border-color: #aabcfe;color: #000000;background-color: #b9c9fe;">Color</th>
    <th class="tg-hvxd" style="font-family: Arial, sans-serif;font-size: 14px;font-weight: bold;padding: 10px 5px;border-style: solid;border-width: 1px;overflow: hidden;word-break: normal;border-color: #aabcfe;color: #000000;background-color: #b9c9fe;">Cantidad</th>
    <th class="tg-hvxd" style="font-family: Arial, sans-serif;font-size: 14px;font-weight: bold;padding: 10px 5px;border-style: solid;border-width: 1px;overflow: hidden;word-break: normal;border-color: #aabcfe;color: #000000;background-color: #b9c9fe;">Talla</th>
  </tr>
  {% for order in orders %}
  <tr>
    <td class="tg-031e" style="font-family: Arial, sans-serif;font-size: 14px;padding: 10px 5px;border-style: solid;border-width: 1px;overflow: hidden;word-break: normal;border-color: #aabcfe;color: #669;background-color: #e8edff;">{{ order.0 }}</td>
    <td class="tg-031e" style="font-family: Arial, sans-serif;font-size: 14px;padding: 10px 5px;border-style: solid;border-width: 1px;overflow: hidden;word-break: normal;border-color: #aabcfe;color: #669;background-color: #e8edff;">{{ order.1 }}</td>
    <td class="tg-031e" style="font-family: Arial, sans-serif;font-size: 14px;padding: 10px 5px;border-style: solid;border-width: 1px;overflow: hidden;word-break: normal;border-color: #aabcfe;color: #669;background-color: #e8edff;">{{ order.2 }}</td>
    <td class="tg-031e" style="font-family: Arial, sans-serif;font-size: 14px;padding: 10px 5px;border-style: solid;border-width: 1px;overflow: hidden;word-break: normal;border-color: #aabcfe;color: #669;background-color: #e8edff;">{{ order.3 }}</td>
    
  {% endfor %}
</table>