{% extends 'base.html' %}
{% load i18n %}
{% block main-content %}
<div class="container_omega">
    <div class="gs_11 our">
        <h3>{% trans 'Nuestros Productos' %}</h3>
        <p>
            {% blocktrans %}
            En Monin, nuestros diseñadores abordan el proceso creativo manejando la mayor
            cantidad posible de información del panorama de tendencias, para poder así ofrecer en nuestras colecciones de temporada una gran variedad de estilos, pero nunca dejándonos llevar por los excesos.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}
            Actualmente contamos con un amplio surtido en ropa de ceremonia infantil fabricando las líneas de BAUTIZO COMUNION y PRESENTACION con gran variedad de modelos en cada una. Nuestros productos van desde la talla 6 meses hasta la talla 18-20. CONOCENOS!
            {% endblocktrans %}
        </p>
    </div>
    <div class="gs_6">
        <div id="slider" class="nivoSlider">
          {% for slider in sliders %}
            <img style="width: 400px; height: 320px;" src="{{slider.photo.url }}" alt=""/>
          {% endfor %}
        </div>
        <div class="loader"></div>
    </div>
    <div class="gs_5"><h3>{% trans 'Proporciona los siguientes datos para ver el catalogo completo de inmediato' %}</h3>
    <!-- Contact form starts -->
        <form method="post" action="{% url 'access' %}">
            <div id="form_container">
                <div id="form_main">
                    {% csrf_token %}
                    {% for field in form %}
                    {{ field.label }}
                    {{ field }}
                    {% if field.errors %}
                    {% for error in field.errors %}
                    <p class="error">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                    <p><input type="submit" id="submit" value="{% trans 'Enviar' %}" class="superbutton"></p>
                    <ul id="form_response"><li></li></ul>
                </div>
            </div>
        </form>
    <!-- Contact form Ends -->
    </div>
</div>
{% endblock main-content %}