
{% extends 'base.html' %}
{% block personal_data %}
  <form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="{% url 'home' %}" />
    <input type="hidden" name="language" value="en">
    <input class="flag" type="image" src="{{ STATIC_URL }}images/usa.png" alt="USA"/>
  </form>
  <form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="{% url 'home' %}" />
    <input type="hidden" name="language" value="es">
    <input class="flag" type="image" src="{{ STATIC_URL }}images/mex.png" alt="MX"/>
  </form>
{% endblock personal_data %}