<div class='hide'>
    <fieldset class="ui-grid-a">
        <input type="hidden" name="active-11" id="active-11" placeholder="" value="0">
        <div class="ui-block-a">
            <label for="model-11">Modelo</label>
            <input type="text" name="model-11" id="model-11" placeholder="" value="">
        </div>
        <div class="ui-block-b">
            <label for="color-11">Color</label>
            <select name="color-11" id="select-native-11">
                <option value="Blanco">Blanco</option>
                <option value="Beige">Beige</option>
                <option value="Negro">Negro</option>
                <option value="Marino">Marino</option>
            </select>
        </div>
    </fieldset>
    <fieldset class="ui-grid-a">
        <div class="ui-block-a">
            <label for="quantity-11">Cantidad</label>
            <input type="text" name="quantity-11" id="quantity-11" placeholder="" value="">
        </div>
        <div class="ui-block-b">
            <label for="size-11">Talla</label>
            <select name="size-11" id="size-11">
                {% for i in loop  %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </fieldset>
    <fieldset class="ui-grid-a">
        <div class="ui-block-a">
            <label for="price-11">Precio</label>
            <input type="text" name="price-11" id="price-11" placeholder="" value="">
        </div>
    </fieldset>
</div>