{% extends 'base_mobile.html' %}
{% block main-content %}
<form method="post" action="{% url 'mobile' %}" data-ajax="false">{% csrf_token %}
    {% for field in form %}
    <label for="text-basic">{% if not field.name == 'username'  %} {{ field.label }} {% else %} Usuario {%endif%}</label>
    {{ field }}
    {% if field.errors %}
    {% for error in field.errors %}
    <p class="error">{{ error }}</p>
    {% endfor %}
    {% endif %}
    {% endfor %}
    {% for error in form_errors %}
    <p class="error">{{ error }}</p>
    {% endfor %}
    <button type="submit" class="ui-btn ui-btn-b">Entrar</button>
</form>
{% endblock main-content %}