<div class='hide'>
    <fieldset class="ui-grid-a">
        <input type="hidden" name="active-2" id="active-2" placeholder="" value="0">
        <div class="ui-block-a">
            <label for="model-2">Modelo</label>
            <input type="text" name="model-2" id="model-2" placeholder="" value="">
        </div>
        <div class="ui-block-b">
            <label for="color-2">Color</label>
            <select name="color-2" id="select-native-2">
                <option value="Blanco">Blanco</option>
                <option value="Beige">Beige</option>
                <option value="Negro">Negro</option>
                <option value="Marino">Marino</option>
            </select>
        </div>
    </fieldset>
    <fieldset class="ui-grid-a">
        <div class="ui-block-a">
            <label for="quantity-2">Cantidad</label>
            <input type="text" name="quantity-2" id="quantity-2" placeholder="" value="">
        </div>
        <div class="ui-block-b">
            <label for="size-2">Talla</label>
            <select name="size-2" id="size-2">
                {% for i in loop  %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </fieldset>
</div>