<div class='hide'>
    <fieldset class="ui-grid-a">
        <input type="hidden" name="active-14" id="active-14" placeholder="" value="0">
        <div class="ui-block-a">
            <label for="model-14">Modelo</label>
            <input type="text" name="model-14" id="model-14" placeholder="" value="">
        </div>
        <div class="ui-block-b">
            <label for="color-14">Color</label>
            <select name="color-14" id="select-native-14">
                <option value="Blanco">Blanco</option>
                <option value="Beige">Beige</option>
                <option value="Negro">Negro</option>
                <option value="Marino">Marino</option>
            </select>
        </div>
    </fieldset>
    <fieldset class="ui-grid-a">
        <div class="ui-block-a">
            <label for="quantity-14">Cantidad</label>
            <input type="text" name="quantity-14" id="quantity-14" placeholder="" value="">
        </div>
        <div class="ui-block-b">
            <label for="size-14">Talla</label>
            <select name="size-14" id="size-14">
                {% for i in loop  %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </fieldset>
    <fieldset class="ui-grid-a">
        <div class="ui-block-a">
            <label for="price-14">Precio</label>
            <input type="text" name="price-14" id="price-14" placeholder="" value="">
        </div>
    </fieldset>
</div>