<div class='hide'>
    <fieldset class="ui-grid-a">
        <input type="hidden" name="active-15" id="active-15" placeholder="" value="0">
        <div class="ui-block-a">
            <label for="model-15">Modelo</label>
            <input type="text" name="model-15" id="model-15" placeholder="" value="">
        </div>
        <div class="ui-block-b">
            <label for="color-15">Color</label>
            <select name="color-15" id="select-native-15">
                <option value="Blanco">Blanco</option>
                <option value="Beige">Beige</option>
                <option value="Negro">Negro</option>
                <option value="Marino">Marino</option>
            </select>
        </div>
    </fieldset>
    <fieldset class="ui-grid-a">
        <div class="ui-block-a">
            <label for="quantity-15">Cantidad</label>
            <input type="text" name="quantity-15" id="quantity-15" placeholder="" value="">
        </div>
        <div class="ui-block-b">
            <label for="size-15">Talla</label>
            <select name="size-15" id="size-15">
                {% for i in loop  %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </fieldset>
</div>