<div class='hide'>
    <fieldset class="ui-grid-a">
        <input type="hidden" name="active-6" id="active-6" placeholder="" value="0">
        <div class="ui-block-a">
            <label for="model-6">Modelo</label>
            <input type="text" name="model-6" id="model-6" placeholder="" value="">
        </div>
        <div class="ui-block-b">
            <label for="color-6">Color</label>
            <select name="color-6" id="select-native-6">
                <option value="Blanco">Blanco</option>
                <option value="Beige">Beige</option>
                <option value="Negro">Negro</option>
                <option value="Marino">Marino</option>
            </select>
        </div>
    </fieldset>
    <fieldset class="ui-grid-a">
        <div class="ui-block-a">
            <label for="quantity-6">Cantidad</label>
            <input type="text" name="quantity-6" id="quantity-6" placeholder="" value="">
        </div>
        <div class="ui-block-b">
            <label for="size-6">Talla</label>
            <select name="size-6" id="size-6">
                {% for i in loop  %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </fieldset>
</div>