<div class='hide'>
    <fieldset class="ui-grid-a">
        <input type="hidden" name="active-9" id="active-9" placeholder="" value="0">
        <div class="ui-block-a">
            <label for="model-9">Modelo</label>
            <input type="text" name="model-9" id="model-9" placeholder="" value="">
        </div>
        <div class="ui-block-b">
            <label for="color-9">Color</label>
            <select name="color-9" id="select-native-9">
                <option value="Blanco">Blanco</option>
                <option value="Beige">Beige</option>
                <option value="Negro">Negro</option>
                <option value="Marino">Marino</option>
            </select>
        </div>
    </fieldset>
    <fieldset class="ui-grid-a">
        <div class="ui-block-a">
            <label for="quantity-9">Cantidad</label>
            <input type="text" name="quantity-9" id="quantity-9" placeholder="" value="">
        </div>
        <div class="ui-block-b">
            <label for="size-9">Talla</label>
            <select name="size-9" id="size-9">
                {% for i in loop  %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </fieldset>
    <fieldset class="ui-grid-a">
        <div class="ui-block-a">
            <label for="price-9">Precio</label>
            <input type="text" name="price-9" id="price-9" placeholder="" value="">
        </div>
    </fieldset>
</div>