<div class='hide'>
    <fieldset class="ui-grid-a">
        <input type="hidden" name="active-13" id="active-13" placeholder="" value="0">
        <div class="ui-block-a">
            <label for="model-13">Modelo</label>
            <input type="text" name="model-13" id="model-13" placeholder="" value="">
        </div>
        <div class="ui-block-b">
            <label for="color-13">Color</label>
            <select name="color-13" id="select-native-13">
                <option value="Blanco">Blanco</option>
                <option value="Beige">Beige</option>
                <option value="Negro">Negro</option>
                <option value="Marino">Marino</option>
            </select>
        </div>
    </fieldset>
    <fieldset class="ui-grid-a">
        <div class="ui-block-a">
            <label for="quantity-13">Cantidad</label>
            <input type="text" name="quantity-13" id="quantity-13" placeholder="" value="">
        </div>
        <div class="ui-block-b">
            <label for="size-13">Talla</label>
            <select name="size-13" id="size-13">
                {% for i in loop  %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </fieldset>
</div>