<div class='hide'>
    <fieldset class="ui-grid-a">
        <input type="hidden" name="active-4" id="active-4" placeholder="" value="0">
        <div class="ui-block-a">
            <label for="model-4">Modelo</label>
            <input type="text" name="model-4" id="model-4" placeholder="" value="">
        </div>
        <div class="ui-block-b">
            <label for="color-4">Color</label>
            <select name="color-4" id="select-native-4">
                <option value="Blanco">Blanco</option>
                <option value="Beige">Beige</option>
                <option value="Negro">Negro</option>
                <option value="Marino">Marino</option>
            </select>
        </div>
    </fieldset>
    <fieldset class="ui-grid-a">
        <div class="ui-block-a">
            <label for="quantity-4">Cantidad</label>
            <input type="text" name="quantity-4" id="quantity-4" placeholder="" value="">
        </div>
        <div class="ui-block-b">
            <label for="size-4">Talla</label>
            <select name="size-4" id="size-4">
                {% for i in loop  %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </fieldset>
</div>