<div class='hide'>
    <fieldset class="ui-grid-a">
        <input type="hidden" name="active-8" id="active-8" placeholder="" value="0">
        <div class="ui-block-a">
            <label for="model-8">Modelo</label>
            <input type="text" name="model-8" id="model-8" placeholder="" value="">
        </div>
        <div class="ui-block-b">
            <label for="color-8">Color</label>
            <select name="color-8" id="select-native-8">
                <option value="Blanco">Blanco</option>
                <option value="Beige">Beige</option>
                <option value="Negro">Negro</option>
                <option value="Marino">Marino</option>
            </select>
        </div>
    </fieldset>
    <fieldset class="ui-grid-a">
        <div class="ui-block-a">
            <label for="quantity-8">Cantidad</label>
            <input type="text" name="quantity-8" id="quantity-8" placeholder="" value="">
        </div>
        <div class="ui-block-b">
            <label for="size-8">Talla</label>
            <select name="size-8" id="size-8">
                {% for i in loop  %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </fieldset>
</div>