<div class='hide'>
    <fieldset class="ui-grid-a">
        <input type="hidden" name="active-3" id="active-3" placeholder="" value="0">
        <div class="ui-block-a">
            <label for="model-3">Modelo</label>
            <input type="text" name="model-3" id="model-3" placeholder="" value="">
        </div>
        <div class="ui-block-b">
            <label for="color-3">Color</label>
            <select name="color-3" id="select-native-3">
                <option value="Blanco">Blanco</option>
                <option value="Beige">Beige</option>
                <option value="Negro">Negro</option>
                <option value="Marino">Marino</option>
            </select>
        </div>
    </fieldset>
    <fieldset class="ui-grid-a">
        <div class="ui-block-a">
            <label for="quantity-3">Cantidad</label>
            <input type="text" name="quantity-3" id="quantity-3" placeholder="" value="">
        </div>
        <div class="ui-block-b">
            <label for="size-3">Talla</label>
            <select name="size-3" id="size-3">
                {% for i in loop  %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </fieldset>
    <fieldset class="ui-grid-a">
        <div class="ui-block-a">
            <label for="price-3">Precio</label>
            <input type="text" name="price-3" id="price-3" placeholder="" value="">
        </div>
    </fieldset>
</div>