<div class='hide'>
    <fieldset class="ui-grid-a">
        <input type="hidden" name="active-7" id="active-7" placeholder="" value="0">
        <div class="ui-block-a">
            <label for="model-7">Modelo</label>
            <input type="text" name="model-7" id="model-7" placeholder="" value="">
        </div>
        <div class="ui-block-b">
            <label for="color-7">Color</label>
            <select name="color-7" id="select-native-7">
                <option value="Blanco">Blanco</option>
                <option value="Beige">Beige</option>
                <option value="Negro">Negro</option>
                <option value="Marino">Marino</option>
            </select>
        </div>
    </fieldset>
    <fieldset class="ui-grid-a">
        <div class="ui-block-a">
            <label for="quantity-7">Cantidad</label>
            <input type="text" name="quantity-7" id="quantity-7" placeholder="" value="">
        </div>
        <div class="ui-block-b">
            <label for="size-7">Talla</label>
            <select name="size-7" id="size-7">
                {% for i in loop  %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </fieldset>
    <fieldset class="ui-grid-a">
        <div class="ui-block-a">
            <label for="price-7">Precio</label>
            <input type="text" name="price-7" id="price-7" placeholder="" value="">
        </div>
    </fieldset>
</div>