<div class='hide'>
    <fieldset class="ui-grid-a">
        <input type="hidden" name="active-6" id="active-6" placeholder="" value="0">
        <div class="ui-block-a">
            <label for="model-1">Modelo</label>
            <input type="text" name="model-1" id="model-1" placeholder="" value="">
        </div>
        <div class="ui-block-b">
            <label for="color-1">Color</label>
            <select name="color-1" id="select-native-1">
                <option value="Blanco">Blanco</option>
                <option value="Beige">Beige</option>
                <option value="Negro">Negro</option>
                <option value="Marino">Marino</option>
            </select>
        </div>
    </fieldset>
    <fieldset class="ui-grid-a">
        <div class="ui-block-a">
            <label for="quantity-1">Cantidad</label>
            <input type="text" name="quantity-1" id="quantity-1" placeholder="" value="">
        </div>
        <div class="ui-block-b">
            <label for="size-1">Talla</label>
            <select name="size-1" id="size-1">
                {% for i in loop  %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </fieldset>
    <fieldset class="ui-grid-a">
        <div class="ui-block-a">
            <label for="price-1">Precio</label>
            <input type="text" name="price-1" id="price-1" placeholder="" value="">
        </div>
    </fieldset>
</div>