<div class='hide'>
    <fieldset class="ui-grid-a">
        <input type="hidden" name="active-5" id="active-5" placeholder="" value="0">
        <div class="ui-block-a">
            <label for="model-5">Modelo</label>
            <input type="text" name="model-5" id="model-5" placeholder="" value="">
        </div>
        <div class="ui-block-b">
            <label for="color-5">Color</label>
            <select name="color-5" id="select-native-5">
                <option value="Blanco">Blanco</option>
                <option value="Beige">Beige</option>
                <option value="Negro">Negro</option>
                <option value="Marino">Marino</option>
            </select>
        </div>
    </fieldset>
    <fieldset class="ui-grid-a">
        <div class="ui-block-a">
            <label for="quantity-5">Cantidad</label>
            <input type="text" name="quantity-5" id="quantity-5" placeholder="" value="">
        </div>
        <div class="ui-block-b">
            <label for="size-5">Talla</label>
            <select name="size-5" id="size-5">
                {% for i in loop  %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </fieldset>
</div>