{% extends 'base.html' %}
{% load i18n %}
{% block main-content %}
<div class="container_omega">
    <h1>Selecciona los productos</h2>
    <table cellpadding="0" cellspacing="0" border="0" id="products-datatable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Modelo</th>
                <th>Precio</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <h1>Pedido actual</h2>
    <table cellpadding="0" cellspacing="0" border="0" id="orders-datatable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Modelo</th>
                <th>Precio</th>
                <th>Color</th>
                <th>Talla</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <h1>¿Que deseas hacer?</h2>
    <input id="do-order" type="submit" class="superbutton"value="Quiero enviar este pedido">
    <input id="delete-order" type="submit" class="superbutton"value="Quiero borrar este pedido">
</div>
{% endblock main-content %}
{% block js %}
{{ block.super }}
<script>
$(function(){
    $('#delete-order').click(function() {
        $.ajax({
            url: "/order/delete",
            type: 'post',
            dataType: 'json',
            data: {
            pk: 1,
            },
            success: function(data) {
                if (data.response == 1) {
                  datatable2.fnDraw();
                }
            }
        });
    });
    $('#do-order').click(function() {
        $.ajax({
            url: "/order/do",
            type: 'post',
            dataType: 'json',
            data: {
            pk: 1,
            },
            success: function(data) {
                if (data.response == 1) {
                  datatable2.fnDraw();
                  alert('Tu pedido ha sido enviado!');
                }
            }
        });
    });
    datatable = $('#products-datatable').dataTable({
        "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        "sPaginationType": "bootstrap",
        "bProcessing": true,
        "sAjaxSource": "/products/all",
        "bServerSide": true,
        "oLanguage": {
          "sUrl": STATIC_URL + "js/libs/dataTables.spanish.txt"
        },
        "aoColumns": [
            { "sWidth": "30%" ,"bSortable": true },
            { "sWidth": "30%" ,"bSortable": true },
            { "sWidth": "15%" ,"bSortable": false },
        ],
        // Fill the table with ajax source
        "fnServerData": function ( sSource, aoData, fnCallback ) {
            $.ajax({
            "dataType": 'json',
            "type": "POST",
            "url": sSource,
            "data": aoData,
            "success": fnCallback
            });
        }
    });
    datatable2 = $('#orders-datatable').dataTable({
        "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        "sPaginationType": "bootstrap",
        "bProcessing": true,
        "sAjaxSource": "/orders/all",
        "bServerSide": true,
        "oLanguage": {
          "sUrl": STATIC_URL + "js/libs/dataTables.spanish.txt"
        },
        "aoColumns": [
            { "sWidth": "18%" ,"bSortable": false },
            { "sWidth": "18%" ,"bSortable": false },
            { "sWidth": "18%" ,"bSortable": false },
            { "sWidth": "18%" ,"bSortable": false },
            { "sWidth": "18%" ,"bSortable": false },
        ],
        // Fill the table with ajax source
        "fnServerData": function ( sSource, aoData, fnCallback ) {
            $.ajax({
            "dataType": 'json',
            "type": "POST",
            "url": sSource,
            "data": aoData,
            "success": fnCallback
            });
        }
    });
});
</script>
{% endblock js %}