{% extends 'base.html' %}
{% load i18n custom_tags %}
{% block main-content %}
<div class="container_omega">
    <a href="{% url 'checkorder' %}">Ver mi pedido</a>&nbsp;|&nbsp;<a href="{% url 'order' %}">Ver categorías</a>|&nbsp;<a href="#" onClick="javascript:history.go(-1); return false;">Regresar</a>
    <h3>{{ product.model }}</h3>
    <div class="product">
        <a class="img-colorbox" href="{{ product.photo.url}}"><img id="thumb" src="{{ product.photo.url }}"></a>
        <div class="product-details">
            <h3>Detalles</h3>
            <label>Precio:</label><span>{{ product.price | currency }}</span><br />
            <label>Descripcion:</label><span>{{ product.description }}</span>
            <h3>Introduce el pedido</h3>
            <form method="post" action="{% url 'order_product' product.pk %}">
                <div id="form_container">
                    <div id="form_main">
                        {% csrf_token %}
                        {% for field in form %}
                        {% if field.label == '8' %}<br />{% endif %}
                        {{ field.label }}
                        {{ field }}
                        {% if field.errors %}
                        {% for error in field.errors %}
                        <p class="error">{{ error }}</p>
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                        {% for error in form_errors %}
                        <p class="error">{{ error }}</p>
                        {% endfor %}
                        <br />
                        <p class="pwm"><input type="submit" id="submit" value="Agregar" class="superbutton"></p>
                        <ul id="form_response"><li></li></ul>
                    </div>
                </div>
                </form>
        </div>
    </div>
</div>
{% endblock main-content %}
{% block js %}
{{ block.super }}
<script>
$(document).ready(function(){
    $('.img-colorbox').colorbox({ opacity:0.5 });
});
</script>
{% endblock js %}