{% extends 'base.html' %}
{% load i18n %}
{% block main-content %}
<div class="container_alpha slider categories">
    <div id="menu" c class="png_bg menu2">
        <ul>
            {% for category in categories %}
            <li class="button filter" data-filter="{{ category.name }}">{{ category.name }}</li>
            {% endfor %}
        </ul>
    </div>
    <!-- GRID -->
    <ul id="Grid">
        {% for product in products %}
        <li class="mix {{ product.category.name }}" data-cat="{{ product.category.name }}"><img src='{{ product.photo.url }}'></li>
        {% endfor %}
        <li class="gap"></li> <!-- "gap" elements fill in the gaps in justified grid -->
    </ul>
</div>
{% endblock main-content %}
{% block js %}
{{ block.super }}
<script src="{{ STATIC_URL }}js/libs/jquery.mixitup.min.js"></script>
<script>
{% with first_category=categories.0.name %}
$(document).ready(function () {
    $(function(){
        $('#Grid').mixitup({'showOnLoad': '{{ first_category }}'});
    });
});
{% endwith %}
</script>
{% endblock js %}

